//fontSize
$fontSize48: 48px;
$fontSize30: 30px;
$fontSize28: 28px;
$fontSize26: 26px;
$fontSize22: 22px;
$fontSize20: 20px;
$fontSize18: 18px;

// 主题颜色
$colorMain1: #009ad6; // 青色
$colorMain2: #33a3dc; // 露草色
$colorMain3: #228fbd; // 缥色
$colorMain4: #2468a2; // 浅缥
$colorMain5: #2570a1; // 薄缥
$colorMain6: #2585a6; // 薄花色
// 备用-选择色
$colorSpare1: #e6c47b; // 芥子色
$colorSpare2: #c99979; // 洗柿色
$colorSpare3: #f8aba6; // 珊瑚色
$colorSpare4: #FFF0F5; // 淡紫红
$colorSpare5: #F0FFFF; // 淡紫红



// 文字颜色
$fontWhite: #ffffff; 
$fontMain: #303133; // 主要
$fontRoutine: #606266; // 常规
$fontSecondary: #909399; // 次要
$fontPlaceholder: #C0C4CC; // 占位

// 边框颜色
$borderOne: #DCDFE6; // 一级边框
$borderTwo: #E4E7ED; // 二级边框
$borderThree: #EBEEF5; // 三级边框
$borderFour: #F2F6FC; // 四级边框

// 背景颜色
$bgColorBlack: #000000;
$bgColorWhite: #ffffff;

// 状态颜色
$successColor: #67C23A; // 成功 
$warningColor: #E6A23C; // 警告
$dangerColor: #F56C6C; // 失败
$infoColor: #909399; // 提示

